<!DOCTYPE html>
{% load static %}
{% include 'masters.html' %}
 <title>Главная страница</title>
<ivelir>

<div class="features">
    <h3>{{ title }}</h3>
    <p>Добро пожаловать в наш ювелирный магазин! 💍✨</p>
<ul>Изысканные украшения для вашего особого момента. 💎💖
Откройте мир роскоши с нашей коллекцией ювелирных изделий. 💫
Уникальные дизайны, непревзойденное качество. 👑🔝
Найдите идеальное украшение, отражающее вашу индивидуальность. 💖
Ваш источник элегантности и блеска - наш магазин ювелирных изделий. 💍✨
Роскошь, которая доступна каждому. 💎💫
Предлагаем вам оглянуться в мир бриллиантов и драгоценностей. 💎🌟
Уникальные подарки для особых людей в вашей жизни. ✨💖
Потрясающие украшения, которые заставят вас блестеть на любом мероприятии. ✨💎 Искусство, созданное для вас. 💫🎨

Воплотите свои самые смелые ювелирные мечты с нами. ✨💭
Красота в каждой мельчайшей детали. 💍🌟
Откройте сокровищницу роскоши и изящества. 💎✨</ul>
    <a href="{% url 'oformlenie' %}"><button class="btn btn-warning">отзывы наших покупателей </button></a>

</div>

</ivelir>
</body>
</html>