<!DOCTYPE html>
{% load static %}
{% include 'masters.html' %}
 <title>Ювелирные изделия</title>
<ivelir>
<div class="features">
    <h3>Ювелирные изделия</h3>
 {% for jewelry in jewelries %}
                   <div class="alert alert-warning ">
                       <h3>{{jewelry.title}}</h3>

                      <img src="{{ jewelry.image.url }}" alt="{{ jewelry.title }}" style="width:260px">
                    <p>{{ jewelry.name }} - {{ jewelry.description }} - ${{ jewelry.price }} </p>
                       <a href="{% url 'review_list' %}"><button class="btn btn-danger">Подробнее </button></a></div>
                       {% endfor %}

              </div>



</ivelir>
</body>
</html>
