
<!DOCTYPE html>
{% load static %}
{% include 'masters.html' %}
<ivelir>

<div class="features">
    <h3>Отзывы наших покупателей</h3>
    <div class="alert alert-warning ">
        <p>"Оперативная и профессиональная работа! Заказывала индивидуальное изделие и оно было точно таким, как я себе представляла. 👏💯" </p> </div>
    <div class="alert alert-warning ">
        <p>"Магия, которую создает эта мастерская, просто захватывает дух. Не могу налюбоваться своим новым украшением! ✨😍" </p></div>
        <div class="alert alert-warning ">
            <p>Потрясающая команда мастеров! Они настоящие профессионалы, которые делают каждый заказ особенным. Безукоризненное качество и обслуживание. 🙌🌟" </p></div>
            <div class="alert alert-warning ">
                <p> Никогда не останавливающаяся источник вдохновения! Каждый раз, заходя в эту мастерскую, я умираю от выбора украшений - все столь прекрасно! 💫💖"</p></div>
                <div class="alert alert-warning ">
                    <p>Когда нужно что-то особенное, я всегда обращаюсь сюда. Качество, стиль и индивидуальный подход - всегда на высшем уровне! 👍💎" </p></div>
                    <div class="alert alert-warning ">
                        <p>"Самые красивые и оригинальные украшения, которые я когда-либо видела! Влюбилась с первого взгляда. 💖💎"</p></div>
        <div class="alert alert-warning ">
            <p>"Просто невероятное мастерство! Ювелирные изделия из этой мастерской - настоящие произведения искусства. 👌💍"</p></div>

</p><button type="button" class="btn btn-sm btn-outline-danger"><a href="/purchase_page" class="nav-link"><ya-tr-span data-index="7-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="View" data-translation="Добавить отзыв" data-ch="0" data-type="trSpan"> Добавить отзыв</ya-tr-span> </a> </button></p></div>

</div>
</ivelir>
</body>
</html>





