<!DOCTYPE html>
{% load static %}
{% include 'masters.html' %}
 <title>Обзор</title>
<ivelir>
    <div class="features">
    <h1>Обзор</h1>
 {% for review in reviews %}
                   <div class="alert alert-warning ">
                       <h3>{{review.title}}</h3>
                      <img src="{{ review.jewelry.image.url }}" alt="{{ jewelry.title }}" style="width:260px">
                    <p>{{ review.jewelry.title }} - {{ review.rating }}/10 - {{ review.comment }} </p></div>
                       {% endfor %}

             
                </div>
</ivelir>
</body>
</html>
