<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <body>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
       <div class="container">
        <div class="section">
            <ul class="links">
                <li><a href="{% url 'customer_list' %}">Customers</a></li>
                <li><a href="{% url 'supplier_list' %}">Suppliers</a></li>
                <li><a href="{% url 'review_list' %}">Reviews</a></li>
                <li><a href="{% url 'jewelry_list' %}">Jewelries</a></li>
                 <li><a href="{% url 'index' %}">index</a></li>
            </ul>
        </div>
            <div class="footer">
        </div>

            <h1 class="section-title">Review List</h1>
     <ul>
  {% for review in reviews %}
  <li>{{ review.content }}</li>
  {% endfor %}
</ul>
     <footer class="footer">
            <p>&copy; 2023 Jewelry Workshop. All rights reserved.</p>
        </footer>
    </div>
</head>
</body>
</html>